<% content_for :current_page, 'publisher' %>
<div id="vcard">
  <h2>Stream for <%= @publisher.name %></h2>
  <% if @publisher.publisher_type == "member" -%>
  <div id="mainVcard">
    <span class="tel"><%= @publisher.state%>-<%= @publisher.district %></span>
  </div>
  <div id="buttons">
      <% unless @publisher.twitter_id.blank? %>
      <a class="twitter" title="Twitter" href="http://twitter.com/<%= @publisher.twitter_id %>">Twitter</a>
      <% end %>

      <% unless @publisher.youtube_id.blank? -%>
      <a class="youtube" title="YouTube" href="http://youtube.com/<%= @publisher.youtube_id %>">YouTube</a>
      <% end -%>
      <a class="opencongress" title="Open Congress" href="http://www.opencongress.org/person/show/<%= @publisher.govtrack_id %>">Open Congress</a>
  </div>
  <% end -%>
  <div class="clear"></div>
</div>
<script type="text/javascript" charset="utf-8">
  var publisherId = '<%= @publisher.id %>';
  var publisherSlug = '<%= @publisher.slug %>';
</script>