<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= csrf_meta_tag %>
  <meta name="description" content="" />
  <title>Stream Congress</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" />
  <!--[if IE 6]><link rel="stylesheet" href="buggy.css" type="text/css" media="screen" /><![endif]-->
  <!--[if IE 7]><link rel="stylesheet" href="buggy7.css" type="text/css" media="screen" /><![endif]-->
</head>

<body class="home">
  <div id="pageMain">
    <header>
      <h1><a href="/">Stream Congress</a></h1>
      <div id="headerNav">
        <ul>
          <% if signed_in? -%>
          <li>Hi, <%= current_user.display_name %> | <%= link_to "Sign Out", out_path %></li>
          <% else -%>
          <li><%= link_to "Sign In With Google", auth_path %></li>
          <% end -%>
        </ul>
        <div class="clear"></div>
      </div>
    </header>
    <div id="mainContent">
      <div id="ltColumn">
        <div id="congressSessions">
          <dl>
            <dt class="out">House</dt>
            <dd>Not In Session</dd>
            <dt class="out">Senate</dt>
            <dd>Not In Session</dd>
          </dl>
        </div>
        <div class="module">
          <h3 class="withTip">Currently Following</h3>
          <% if signed_in? -%>
          <span class="tip" id="following_tip">Edit your follow list below.</span>
          <% else -%>
            <span class="tip" id="following_tip">Please allow location detection to auto-follow your elected officials.</span>
          <% end -%>
          <ul id="following"></ul>
        </div>
        <div class="module">
          <h3>Follow More</h3>
          <h4>Groupings</h4>
          <form action="#">
            <div class="scroll">
              <ul>
                <li>
                  <label><input class="checkbox" type="checkbox" name="word" />Senate Floor Updates</label>
                </li>
                <li>
                  <label><input class="checkbox" type="checkbox" name="word" />House Floor Updates</label>
                </li>
                <li>
                  <label><input class="checkbox" type="checkbox" name="word" />Senate Tweets</label>
                </li>
                <li>
                  <label><input class="checkbox" type="checkbox" name="word" />House Tweets</label>
                </li>
              </ul>
            </div>
            <button class="addBtn" type="submit">
              <span>Add</span>
            </button>
          </form>
          <h4>Type in the name of a specific legislator</h4>
          <form action="#">
            <input id="id_name" type="text" name="name"/>
            <button class="addBtn" type="submit">
              <span>Add</span>
            </button>
          </form>
        </div>
      </div>
      <div id="rtColumn">
        <div id="rtColumn_content">
          <%= yield %>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div id="footerWrapper">
      <footer>
        <div id="footerNav">
          <ul>
            <li><a href="#">About</a></li>
            <li class="last"><a href="#">Contact</a></li>
          </ul>
          <div class="clear"></div>
        </div>
        <div id="disclaimer">
          <a class="linkReplacement" id="sf" href="http://www.sunlightfoundation.com">Sunlight Foundation</a>
          <p>Founded in 2006, the Sunlight Foundation is a non-partisan non-profit that uses cutting-edge technology and ideas to make government transparent and accountable. Visit <a href="http://www.sunlightfoundation.com">SunlightFoundation.com</a> to learn more.</p>
        </div>
      </footer>
    </div>
  </div>
  <script type="text/javascript">

    var signed_in = <%= signed_in? %>;
    var sunlight_key = 'eb9a0cebe6e940cf827ca2592b11fc3f'
    var defaultFollows = <%= default_follows.inspect.html_safe %>;
    var allMembers = <%= all_members.inspect.html_safe %>;

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1265484-67']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
  <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js'></script>
  <%= javascript_include_tag 'application', 'geolocation', 'underscore.min' %>
</body>
</html>